.content{
    margin: 0% auto;
    flex-wrap: nowrap;
    margin: 5% auto;
    width: 70%;
    height: 100%;
    background-color:#edf6f9 ;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0% auto;
    height: 70%;
}
.image{
    height: 200px;
    width: 880px;
    position: relative;
}
.profileImge img{
    border-radius: 50%;
    position: absolute;
    top:200px;
    left:550px;
    width:170px
}